<!DOCTYPE html>
<html>
<head>
    <title>NodeJs-Angular2</title>
    <base href="/dashboard">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <my-app>Loading AppComponent content here ...</my-app>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.5/zone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reflect-metadata/0.1.10/Reflect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.20.12/system.js"></script>
    <script src="systemjs.config.js"></script>
    <script>System.import('app/main.js').catch(function(err){ console.error(err); });</script>
</body>
</html>